.div01 {
    border: 1px solid;
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    margin: 0 5%;


}
p {
    color: burlywood;
    margin: 5px;
    padding: 10px;
}